* {
  box-sizing: border-box;
}

body {
  background-color: #e6e6e6;
  text-align: center;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 32rem;
  margin: 3rem auto;
  padding: 1.5rem;
  background-color: #ffffff;
  border-radius: 0.5rem;
}

#search {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 2rem;
  max-width: 30rem;
  margin: 2rem auto;
}

#search-bar {
  padding: 1rem;
  flex: 5;
  border-radius: 5px 0 0 5px;
  height: 2rem;
  outline: none;
  border: 1px solid black;
}

#search-btn {
  padding: 0.5rem 1rem;
  background-color: #4caf50;
  color: #ffffff;
  border: none;
  cursor: pointer;
  border-radius: 0 5px 5px 0;
  flex: 1;
  height: 2rem;
}

#search-btn:hover {
  background-color: #45a049;
}

#weather-info {
  margin-top: 2rem;
}
